<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css">

  </head>

<body ontouchmove="BlockMove(event);">
<script>
 function BlockMove(event) {
  // Tell Safari not to move the window.
  event.preventDefault() ;
 }
</script>
<!-- These divs are used for anchor-jumps with the pseudoclass :target -->

<div id="a1">
 <div id="a2">
  <div id="a3">

   <!-- Top Navigation. Ya, tables are evil. -->

   <table>
    <tr>
     <td><a href="#a1" id="p1">1</a></td>
     <td><a href="#a2" id="p2">2</a></td>
     <td><a href="#a3" id="p3">3</a></td>
    </tr>
   </table>

   <!-- Fallback -->

   <div id="i0" class="page">

    <h1>Your browser sucks.</h1>

   </div>

   <!-- First Page #a1 -->

   <div id="i1" class="page">

    <h1>Pure CSS Slideshow</h1>

   </div>

   <!-- Second Page #a2 -->

   <div id="i2" class="page">

    <h1>Simplified Demo</h1>

   </div>

   <!-- Third Page #a3 -->

   <div id="i3" class="page">

    <h1>Check the Source Code</h1>

   </div>



  </div>
 </div>
</div>


<!-- The End -->


<footer>

    <a href="http://www.rorsvort.com" class="link">Boris Rorsvort inspired by Design made in Germany</a>

</footer>
  </body>
</html>