

.legacy {
  @include opacity(0.7);
  font-size: $font-size-base * 0.8;
  font-family: $font-family-serif;
  text-shadow: #000 0 1px 10px;
}

.home-wrapper {
  text-align: center;
  color: #fff;

  h1 {
    position:relative;
    display: inline-block;
    margin-bottom: $padding-large-vertical*3 / 2;
    padding-bottom: $padding-large-vertical*3 / 6;
    border-bottom: 1px solid;
    font-size: $font-size-base * 1.5;
    font-family: $font-family-serif;
    text-shadow: #000 0 1px 10px;
  }

  h2 {
    margin: ($padding-large-vertical*3 * 2) $padding-large-vertical*3 ($padding-large-vertical*3 * 4);
    font-size: $font-size-base * 4;
    line-height: 50px;
  }

  h3 {
    font-weight: 100;
  }
}


.social_medias {
  margin: $padding-large-vertical*3 0 $padding-large-vertical*3/2;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin: none;
  }
}

.home-section {
  margin-bottom: $padding-large-vertical*4;
}

.home-section header {
  border-bottom: 1px solid rgba($brand-primary, 0.5);
  // padding-bottom: $padding-large-vertical;
  margin: $padding-large-vertical*4 0 $padding-large-vertical*2;
  &:first-child {
    margin-top: 0;
  }

  small {
    font-size: 14px;
    margin-top: 5px;
  }
}

.home-section--article {
  margin-bottom: 20px;
}