// Background colors

.bg-blue {
  background-color: $blue;
}

.bg-red {
  background-color: $red;
}

.bg-yellow {
  background-color: $yellow;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

// Text colors

.white {
  color: white;
}

.brown {
  color: $brown;
}

.dark-yellow {
  color: $dark-yellow;
}

.bg-red {
  color: white;
  a:not(.red), a:visited {
    color: white;
  }
  .bg-white {
    a:not(.red), a:visited {
      color: $red;
    }
  }
}

.bg-blue {
  color: white;
  a:not(.red), a:visited {
    color: white;
  }
  .bg-white {
    a:not(.red), a:visited {
      color: $blue;
    }
  }
}

.bg-yellow {
  color: $brown;
  a, a:visited {
    color: $brown;
  }
}

.bg-green {
  color: darken($green, 20%);
  a, a:visited {
    color: darken($green, 20%);
  }
}
