.uppercase {
  text-transform: uppercase;
}

.light {
  font-weight: 100;
}

@media (min-width: 52em) {
  .columize {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
  }
}
