$red: #FC4A4E;
$blue: #009ACA;
$yellow: #FDBC40;
$green: #35CA4A;
$green: #3bb84c;
$dark-yellow: darken($yellow, 20%);
$brown: darken($dark-yellow, 20%);
$maroon: #85144b;


$h1: 4.23809524em !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;
