* {
  box-sizing: border-box;
}

html {
  font-size: 21px;
  line-height: 30px;
}
body {
  font-family: 'Open sans', sans-serif;
  font-size: 1em;
  line-height: 1.42857143em;
  margin: auto;
  font-weight: 300;
  overflow-x: hidden;
}
h1, .h1 {
  font-size: 4.23809524em;
  line-height: 1.01123596em;
  margin-top: 0.33707865em;
  margin-bottom: 0.6741573em;
}
h2, .h2 {
  font-size: 2.61904762em;
  line-height: 1.09090909em;
  margin-top: 0.54545455em;
  margin-bottom: 0.54545455em;
}
h3, .h3 {
  font-size: 1.61904762em;
  line-height: 1.76470588em;
  margin-top: 0.88235294em;
  margin-bottom: 0em;
}
h4, .h4 {
  font-size: 1em;
  line-height: 1.42857143em;
  margin-top: 1.42857143em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.42857143em;
  margin-top: 1.42857143em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.42857143em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

.uppercase {
  text-transform: uppercase;
}

.light {
  font-weight: 100;
}

h4, h5, h6 {
  opacity: .7;
}

@media (min-width: 52em) {
  .columize {
    column-count: 2;
    column-gap: 40px;
  }
}
