
.icon-note-beamed:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-ccw:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-flash:before { content: '\e805'; } /* '' */
.icon-light-up:before { content: '\e806'; } /* '' */
.icon-popup:before { content: '\e807'; } /* '' */
.icon-tools:before { content: '\e808'; } /* '' */
.icon-shareable:before { content: '\e809'; } /* '' */
.icon-target:before { content: '\e80a'; } /* '' */
.icon-monitor:before { content: '\e80b'; } /* '' */
.icon-lamp:before { content: '\e80c'; } /* '' */
.icon-cd:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-keyboard:before { content: '\e80f'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */