@charset "UTF-8";
.sc-player {
  width: 96%;
  padding: 2%;
  position: relative;
  font: 12px Arial, sans-serif;
  background: #333333 url("/images/sc-player-emuzikos/black_linen_v2.png");
  color: #fff;
  font-size: 12px;
  line-height: 1.4em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
.sc-player ol, .sc-player li {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
.sc-player a {
  text-decoration: none;
  color: #666;
}

/* Artworks */
.sc-artwork-list {
  width: 48%;
  margin-right: 2% !important;
  margin-bottom: 2% !important;
  background-color: transparent;
  list-style-type: none;
  position: relative;
}
.sc-artwork-list li {
  list-style-type: none;
  display: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 5px solid #fff;
  -moz-box-shadow: 0px 1px 1px black;
  -webkit-box-shadow: 0px 1px 1px black;
  -o-box-shadow: 0px 1px 1px black;
  box-shadow: 0px 1px 1px black;
}
.sc-artwork-list li.active {
  list-style-type: none;
  display: block;
}
.sc-artwork-list li img, .sc-artwork-list li div {
  list-style-type: none;
  width: 100%;
}

.sc-no-artwork {
  display: none;
}

/* controls */
.sc-controls, .sc-scrubber {
  height: 32px;
  background: #ccc;
  width: 48%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.sc-controls a.sc-pause {
  display: none;
}

.sc-player.playing a.sc-play {
  display: none;
}
.sc-player.playing a.sc-pause {
  display: block;
}

/* scrubber */
.sc-scrubber {
  position: relative;
  margin-top: 10px;
}
.sc-scrubber .sc-time-span {
  position: absolute;
  top: -30px;
  right: 4%;
  width: 68%;
  height: 32px;
}
.sc-scrubber .sc-time-span img {
  display: none;
}
.sc-scrubber .sc-time-indicators {
  position: absolute;
  top: 9px;
  right: 4%;
  color: #333;
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
}
.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  height: 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: #6a6a6a;
  z-index: 1;
  position: absolute;
  -moz-box-shadow: black 1px 0px 1px inset;
  -webkit-box-shadow: black 1px 0px 1px inset;
  -o-box-shadow: black 1px 0px 1px inset;
  box-shadow: black 1px 0px 1px inset;
}
.sc-scrubber .sc-played {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVQYGWN0X3ntPwMQXD91AkShAE0zCzifCcQipAikhokYRWCFIAIZIFsHEwcZBrYaJoBLEUgerhCfIrhCQorAColRBDcRxIABXKEAdyNIIS5FIDkAj60g2c9Xj4cAAAAASUVORK5CYII=);
  z-index: z799;
}
.sc-scrubber .sc-waveform-container {
  z-index: 1;
  width: 100%;
  position: absolute;
  background-color: #333;
  height: 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: black 1px 0px 1px inset, white 1px 0 1px;
  -webkit-box-shadow: black 1px 0px 1px inset, white 1px 0 1px;
  -o-box-shadow: black 1px 0px 1px inset, white 1px 0 1px;
  box-shadow: black 1px 0px 1px inset, white 1px 0 1px;
}

/* tracks */
/* Track listings*/
.sc-player ol.sc-trackslist {
  position: absolute;
  width: 48%;
  height: 94%;
  overflow: auto;
  margin-left: 50%;
  top: 3%;
  right: 2%;
  background: #2b2a2a;
  -moz-box-shadow: black 0 0px 1px inset;
  -webkit-box-shadow: black 0 0px 1px inset;
  -o-box-shadow: black 0 0px 1px inset;
  box-shadow: black 0 0px 1px inset;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
.sc-player ol.sc-trackslist li {
  cursor: pointer;
  padding: 10px 50px 10px 10px;
  position: relative;
}
.sc-player ol.sc-trackslist li a {
  color: #CCC;
  font-size: 12px !important;
  text-shadow: black 0 1px 1px;
}
.sc-player ol.sc-trackslist li:hover, .sc-player ol.sc-trackslist li.active {
  background: #0c0c0c;
  -moz-box-shadow: black 0 0px 1px inset;
  -webkit-box-shadow: black 0 0px 1px inset;
  -o-box-shadow: black 0 0px 1px inset;
  box-shadow: black 0 0px 1px inset;
}
.sc-player ol.sc-trackslist li.active a {
  color: #fff;
}
.sc-player ol.sc-trackslist li span {
  position: absolute;
  right: 0;
  top: 3px;
}
.sc-player ol.sc-trackslist .sc-track-duration {
  text-align: right;
  float: right;
  padding: 0 5px;
  background: #666;
  margin: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* Track info*/
.sc-player .sc-info {
  position: absolute;
  top: 10px;
  left: -5000px;
  width: 400px;
  padding: 5px;
  height: 200px;
  z-index: 500;
  margin-left: -200px;
  background: #333;
  opacity: 0.9;
  color: #fff;
}
.sc-player .sc-info.active {
  left: 50%;
  top: 12%;
}
.sc-player .sc-info a {
  color: #fff;
}
.sc-player .sc-info-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
}
.sc-player .sc-info-toggle.active {
  left: -5000px;
}
.sc-player .sc-info-close {
  position: absolute;
  top: 10px;
  right: 20px;
  background: #22B573;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
}
.sc-player .sc-info-toggle {
  background: #22B573;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 4px;
  display: none;
}
.sc-player .sc-info-toggle:hover {
  background: #333;
  color: #fff;
}

/* controls */
.sc-volume-slider {
  width: 48%;
  height: 8px;
  background-color: #333;
  position: relative;
  top: 35%;
  left: 4%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: black 1px 0px 1px inset, white 1px 0 1px;
  -webkit-box-shadow: black 1px 0px 1px inset, white 1px 0 1px;
  -o-box-shadow: black 1px 0px 1px inset, white 1px 0 1px;
  box-shadow: black 1px 0px 1px inset, white 1px 0 1px;
}
.sc-volume-slider .sc-volume-status {
  position: absolute;
  width: 0%;
  max-width: 100%;
  height: 8px;
  top: 1px;
  left: 1px;
  -moz-box-shadow: white 1px 0 1px;
  -webkit-box-shadow: white 1px 0 1px;
  -o-box-shadow: white 1px 0 1px;
  box-shadow: white 1px 0 1px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#efefef, #cccccc);
  background: -moz-linear-gradient(#efefef, #cccccc);
  background: -o-linear-gradient(#efefef, #cccccc);
  background: -ms-linear-gradient(#efefef, #cccccc);
  background: linear-gradient(#efefef, #cccccc);
}
.sc-volume-slider .sc-volume-status:after {
  content: "";
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  width: 8px;
  height: 8px;
  display: block;
  border: 3px solid #FFF;
  background: #ccc;
  -moz-box-shadow: #333333 0px 0px 1px inset, black 0 0 4px;
  -webkit-box-shadow: #333333 0px 0px 1px inset, black 0 0 4px;
  -o-box-shadow: #333333 0px 0px 1px inset, black 0 0 4px;
  box-shadow: #333333 0px 0px 1px inset, black 0 0 4px;
  position: absolute;
  right: -2px;
  top: -4px;
}

.sc-player .sc-controls a {
  color: #ccc;
  display: block;
  text-align: center;
  line-height: 32px;
  width: 26%;
}
.sc-player .sc-controls a.sc-play:before {
  content: "►";
  color: #333;
  background: transparent;
  text-align: center;
  margin-left: 0;
}
.sc-player .sc-controls a.sc-pause:before {
  content: "■";
  color: #333;
  background: transparent;
  text-align: center;
  margin-left: 10px;
  font-size: 17px;
}

/* utilities */
.sc-player .hidden {
  display: none;
}

.sc-player-engine-container {
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}

/* controls */
section[role="main"] {
  width: 60%;
  margin: 0 auto;
}
