#svg-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.q0-3 { fill: rgb(33, 34, 64); }
.q1-3 { fill: rgb(44, 45, 87); }
.q2-3 { fill: rgb(25, 26, 50); }

// .q0-3 { fill: rgb(40, 43, 58); }
// .q1-3 { fill: rgb(40, 48, 58); }
// .q2-3 { fill: rgb(30, 43, 58); }

path {
  stroke: rgb(38, 38, 74);
}
