
.pill {
  border-radius: 20px;
  background: white;
}

.pill--black {
  color: black !important;
}

.pill--red {
  color: $red !important;
}

.pill--yellow {
  color: $yellow !important;
}

.pill--blue {
  color: $blue !important;
}

.pill--white {
  color: $maroon !important;
}
