.project__thumbnail {
  margin-top: 20px;
  border-radius: 5px;
  img {
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    transform: translateX(0);
  }
}

@media (min-width: 52em) {
  .project__thumbnail {
    img {
      width: 120%;
      max-width: 120%;
      transform: translateX(-5%);
    }
  }
}
